<div class="form">
    <input [formField]="loginForm.username" type="text" placeholder="Username">
    @if (loginData().username()=='') {
    <span>Username is required</span>
    }
    <input [formField]="loginForm.password" type="password" placeholder="Password">
    @if (loginData().password()=='') {
    <span>Password is required</span>
    }
    <div>
        <input id="RememberMe" [formField]="loginForm.RememberMe" type="checkbox">
        <label for="RememberMe">Remember me</label>
    </div>
    <button (click)="Check()">Login</button>
    @if(message!=''){
    <div class="error">
        {{message}}
    </div>
    }
</div>