<form [formRoot]="loginForm">
    <input [formField]="loginForm.username" type="text" placeholder="Username">
    @if (loginForm.username().dirty() && loginForm.username().invalid()){
    @for (item of loginForm.username().errors(); track $index) {
    <span class="hint">{{item.message}}</span>
    }
    }
    <input [formField]="loginForm.password" type="password" placeholder="Password">
    @if (loginForm.password().dirty() && loginForm.password().invalid()){
    @for (item of loginForm.password().errors(); track $index) {
    <span class="hint">{{item.message}}</span>
    }
    }
    <div>
        <input id="RememberMe" [formField]="loginForm.RememberMe" type="checkbox">
        <label for="RememberMe">Remember me</label>
    </div>
    <button [disabled]="loginForm().invalid()" (click)="Check()">Login</button>
    @if(message!=''){
    <div class="error">
        {{message}}
    </div>
    }
    <ul>
        @for (item of loginForm().errorSummary(); track $index) {
        <li>{{item.message}}</li>
        }
    </ul>
</form>